:root {
	--text-grey: #868986;
	--text-teal: #23A692;
	--off-white: #F1F1F1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--off-white);
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: var(--text-grey);
	margin: 10px 20px;
	min-width: 200px;
}

h2 {
	color: var(--text-teal);
	margin-bottom: 0;
	margin-top: 15px;
}

li {
	margin: 10px 0;
	list-style-position: outside;
	list-style: none;
	background-color: #fff;
	padding: 10px
}

button {
	border: none;
	background-color: #E5ECC6;
	padding: 5px 7px;
	border-radius: 6px;
}

button:hover {
	background-color: #E5EC00;
	border-right: 3px;
	border-bottom: 3px;
	border-color: #000;
	
}

header {
	display: flex;
}

.title,
.search {
	display: inline-flex;
	vertical-align: top;
	margin: 0;
	padding: 10px;
	height: 40px;
	line-height: 25px;
	background-color: #fff;
	text-align: middle;
	font-weight: bolder;
}


.title {
	width: 100%;
	color: var(--text-teal);
}

.search {
	width: 40px;
}

.icon {
	height: 25px;
	width: 25px;
}

.outer-container {}

.dex {}
